.element__button-trash {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  outline: none;
  border: none;
  background-image: url(../../../images/button-trash.svg);
  background-color: transparent;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, .25));
  transition: opacity .2s linear;
  cursor: pointer;
}
  
.element__button-trash:hover {
  opacity: .6;
}